

#parent{
    background-color: red;
}

h1.child1{
    background-color: blue;
}

.child2{
    background-color: green;
}

h3{
    background-color: chartreuse;
    opacity: 1;
}

p, h3{
    font-size: 20px;
}

h3{
    background-color: cornflowerblue;
}


body{
    background-image: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&w=600), url(../images/image160101.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: right;

}