/* * {
  box-sizing: border-box;
} */

/* .class1 {
  width: 300px;
  height: 300px;
  border: 5px solid black;
  padding: 10px;
  margin: 8px;
}

.class2 {
  width: 300px;
  height: 300px;
  border: 5px solid black;
  padding: 10px;
  margin: 20px;
}

.class3 {
  width: 300px;
  height: 300px;
  border: 5px solid black;
  padding: 10px;
  margin: 8px;
}
.class4 {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  padding: 10px;
  float: left;
}

.class5 {
  border: 5px solid black;
}

.container {
  border: 2px solid red;
}

.class6 {
    box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  padding: 10px;
} */

/* body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  font: 0.9em/1.2 Arial, Helvetica, sans-serif;
}

.box {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  background-color: rgb(207, 232, 220);
  padding: 1em;
  float: left;
  margin-right: 15px;
} */

/* .class1 {
  box-sizing: border-box;
  width: 500px;
  border: 5px solid black;
  margin-right: 10px;
  left: 200px;
  position: relative;
  display: flow-root;
} */

/* .class2 {
  width: 500px;
  height: 500px;
  border: 5px solid green;
  box-sizing: border-box;
  position: relative;
} */
/* .class3 {
  width: 100px;
  height: 100px;
  border: 5px solid orange;
  box-sizing: border-box;
  float: right;
} */

/* .class4 {
  width: 100px;
  height: 100px;
  border: 5px solid orange;
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 20px;
} */

/* 
.class5 {
  width: 500px;
  height: 500px;
  border: 5px solid burlywood;
  box-sizing: border-box;
  position: fixed;
  left: 300px;
  top: 0px;
  background-color: yellow;
  z-index: 3;
}

.class6 {
  width: 400px;
  height: 400px;
  border: 5px solid burlywood;
  box-sizing: border-box;
  position: fixed;
  left: 350px;
  top: 30px;
  background-color: orange;
  z-index: 5;
}
.class7 {
  position: absolute;
  z-index: 1;
} */

/* p {
  margin: 0px;
} */

/* .class1 {
  width: 500px;
  height: 500px;
  background-color: red;
  position: relative;
  border: 5px solid black;
  z-index: 5;
}

.class2 {
  width: 200px;
  height: 200px;
  background-color: orange;
  position: absolute;
  border: 5px solid black;
  z-index: 3;
  top: 10px;
  left: 10px;
}

.class3 {
  width: 200px;
  height: 200px;
  background-color: green;
  position: absolute;
  border: 5px solid black;
  z-index: 4;
  top: 30px;
  left: 30px;
}

.class4 {
  width: 200px;
  height: 200px;
  background-color: brown;
  position: absolute;
  border: 5px solid black;
  z-index: 2;
  top: 50px;
  left: 50px;
}

.class5 {
  border: 5px solid black;
  width: 90%;
  height: 150px;
  background-color: aquamarine;
  position: fixed;
  top: 0px;
  left: 10px;
  z-index: 10;
} */

.class5 {
  border: 5px solid black;
  width: 90%;
  height: 150px;
  background-color: aquamarine;
  position: sticky;
  top: 10px;
  left: 10px;
}
